* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

video {
    opacity: 0;
}

#loadingDiv {
    display: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
